@charset "UTF-8";
button {
  border: unset;
  background-color: unset;
}

button:active, button:focus {
  border: unset;
  outline: unset;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
  min-width: 1140px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.btn-cart {
  font-size: 2rem;
  cursor: pointer;
}

.btn-cart .fas {
  font-size: 2rem;
}

.products {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products .product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .product__item p::after {
  content: " ₽";
}

.products .btn-by {
  border-radius: 5px;
  border: 2px solid green;
  background-color: #7cb821;
  line-height: 1.4rem;
  color: white;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.products .btn-by:hover {
  background-color: rgba(124, 184, 33, 0.8);
}

.products .btn-by:active {
  border-style: inset;
}
